{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}
{% block title %} {{ parent() }} - Liste des tâches {% endblock  %}
{% block body %}
    <a href="{{ path('task_create') }}" class="btn btn-info pull-right">Créer une tâche</a>
    <h4 class="text-center">⬇️Vos Tâches⬇️</h4>
    <hr class="border border-primary border-3">
    <div class="row mt-2">
        {% set own = false %}
        {% for task in user_tasks %}
                {% include 'layout/tasks.html.twig' %}
                {% set own = true %}
        {% endfor %}
        {% if own == false %}
            <div class="alert alert-warning">
                Il n'y a pas encore de tâche enregistrée.
            </div>
        {% endif %}
    </div>
        <hr class="border border-primary border-3">
        <h4 class="text-center">⬇️Tâches où je suis mentionné⬇️</h4>
        <hr class="border border-primary border-3">
        <div class="row">
            {% set mention = false %}
            {% for task in refs %}
                {% include 'layout/tasks.html.twig' %}
                {% set mention = true %}
            {% endfor %}
            {% if mention == false %}
            <div class="alert alert-warning">
                Vous n'êtes mentionnés dans aucune tâches.
            </div>
        {% endif %}
        </div>
    {% if is_granted('ROLE_ADMIN') %}
        <hr class="border border-primary border-3">
        <h4 class="text-center">⬇️Tâches des autres utilisateurs⬇️</h4>
        <hr class="border border-primary border-3">
        <div class="row">
            {% for task in tasks %}
                {% if task.user != app.user %}
                    {% include 'layout/tasks.html.twig' %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
